.gfield_label {
    display: block !important;
    margin-top: -25px;
    color: #76BC21;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}

input#input_5_16 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 360px;
    margin-left: -92px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
}

div#field_5_22 {
    margin-top: -60px;
}

input#input_5_22 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 400px;
    margin-left: -135px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
}

div#field_5_21 {
    margin-top: 30px;
}

input#input_5_21 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 360px;
    margin-left: -55px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
}

div#field_5_23 {
    margin-top: -60px;
    margin-right: 0px;
}

input#input_5_23 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 400px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
    margin-left: -305px;
}

select#input_5_5 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 360px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
    margin-left: -300px;
}

div#field_5_6 {
    margin-top: -60px;
    margin-right: -55px;
}

select#input_5_6 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 400px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
    margin-left: -395px;
    margin-right: 125px;
}

div#field_5_7 {
    margin-top: 30px;
}

input#gform_submit_button_5 {
    margin-left: 440px;
    margin-top: -60px !important;
    margin-bottom: -10px;
    position: absolute;
    background-color: #76BC21;
    color: #FFFFFF;
    border-radius: 8px;
    width: 400px;
    border-color: #76BC21;
    border-width: 0px;
    height: 48px;
}



div#field_5_5 {
    margin-top: 30px;
}

div#field_5_6 {
    margin-top: -60px;
    margin-right: -125px;
}

select#input_5_7 {
    background: #E1DEDE;
    border-radius: 8px;
    height: 48px;
    border-color: #E1DEDE;
    border: 0px;
    padding-left: 16px;
    width: 360px;
    font-weight: 600;
    line-height: 27px;
    color: #AEAEAE;
    margin-left: -265px;
    margin-right: 125px;
}









.page-id-1068 .gfield_validation_message {
    color: red !important;
    margin-top: -24px;
    margin-left: -260px;
}

.page-id-1068 div#validation_message_5_21 {
    margin-left: -295px;
}

.page-id-1068 div#validation_message_5_22 {
    margin-top: -60px;
    margin-right: 115px;
}

div#gform_7_validation_container {
    display: none;
}




.col-md-2.d-flex.justify-content-end {
    position: absolute;
    margin-left: 940px;
    width: 260px;
    margin-top: 0px;
}

.col-md-10.d-flex.justify-content-start {
    margin-left: -55px;
}

